:root {
  --primary-bg-color: rgb(210, 210, 210);
  --primary-text-color: #181818;
  --title-font-family: "Meow Script", serif;
  --primary-font-family: Helvetica, Arial, sans-serif;
  --green-color: #78b850;
  --yellow-color: #f3c237;
  --gray-color: #a4aec4;
}

* { margin: 0; padding: 0; }
*, *::before, *::after { box-sizing: border-box; }
html { scroll-behavior: smooth; /* font-size: 100%; */ }
body {
  min-height: 100vh; min-height: 100dvh;
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

.header {
  text-align: center;
  padding: 0.5rem;
  transition: padding-top 1000ms;
}
.header--center {
  padding-top: 10rem;
}
.header h1 {
  font-family: var(--title-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  transition: font-size 1000ms;
}
.header.header--center h1 {
  font-size: 5rem;
}

.ss-options-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  transition: opacity 500ms;
}
.ss-options {
  top: 45%;
  position: relative;
  text-align: center;

}
#btn-play {
  margin-top: 0.5rem;
  padding: 0.5rem 3rem;
  color: var(--primary-bg-color);
  background-color: var(--primary-text-color);
  border-radius: 5rem;
  border: 0;
  cursor: pointer;
  user-select: none;
  transition: transform 500ms;
}
#btn-play:hover {
  transform: scale(1.025);
}

.board {
  max-width: 540px;
  border: 1px solid blue;
}

.row {
  border: 1px solid red;
}

.item {
  width: 100px;
  height: 80px;
  background-color: var(--green-color);
  color: var(--primary-bg-color);
}
