:root {
  --primary-bg-color: #fafafa;
  --primary-text-color: #181818;
  --title-font-family: "Meow Script", serif;
  --primary-font-family: Helvetica, Arial, sans-serif;
  --green-color: #78b850;
  --yellow-color: #f3c237;
  --gray-color: #a4aec4;
}

* { margin: 0; padding: 0; }
*, *::before, *::after { box-sizing: border-box; }
html { scroll-behavior: smooth; /* font-size: 100%; */ }
body {
  min-height: 100vh; min-height: 100dvh;
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

.header {
  text-align: center;
  padding: 0.5rem;
  transition: padding-top 1000ms;
}
.header--center {
  padding-top: 10rem;
}
.header h1 {
  font-family: var(--title-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  transition: font-size 1000ms;
}
.header.header--center h1 {
  font-size: 5rem;
}

.menu-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  transition: opacity 500ms;
}
.menu {
  top: 45%;
  position: relative;
  text-align: center;

}

.board-container {
  text-align: center;
  transition: all 3s;
}
.board {
  text-align: center;
  max-width: 540px;
}
.item {
  width: 70px;
  height: 70px;
  font-size: 1.75rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-text-color);
  border: 1px solid var(--gray-color);
  border-radius: 0.5rem;
  background-color: var(--primary-bg-color);
  transition: background-color 250ms;
}

.result {
  transition: opacity 2000ms;
}

.btn-play {
  margin-top: 0.75rem;
  padding: 0.5rem 3rem;
  color: var(--primary-bg-color);
  background-color: var(--primary-text-color);
  border-radius: 5rem;
  border: 0;
  cursor: pointer;
  user-select: none;
  transition: transform 500ms;
}
.btn-play:hover {
  transform: scale(1.025);
}

.bg-green {
  background-color: var(--green-color);
  color: white;
}
.bg-yellow {
  background-color: var(--yellow-color);
  color: white;
}
.bg-gray {
  background-color: var(--gray-color);
  color: white;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bounce {
  animation: bounce 250ms ease;
}
